.jbundler
Jarfile*
.classpath
.settings
.project
target
build
test-output
.surefire-*
.DS_Store
.fbExcludeFilterFile
kite-data/kite-data-hcatalog/metastore_db
derby.log
.idea
*.iml
nbactions.xml
dependency-reduced-pom.xml
**/derby.log
