.jbundler
Jarfile*
.classpath
.settings
.project
target
build
test-output
.surefire-*
.DS_Store
kite-data/kite-data-hcatalog/metastore_db
kite-data/kite-data-hcatalog/derby.log
.idea
*.iml
nbactions.xml
dependency-reduced-pom.xml
