language: java
jdk:
  - oraclejdk7

env:
  - HADOOP_PROFILE=default
  - HADOOP_PROFILE=cdh5
cache:
  directories:
    - $HOME/.m2

install: mvn -q install -DskipTests=true -Dmaven.javadoc.skip=true -Dsource.skip=true -DjavaVersion=1.7
before_script: umask 0022
before_install: echo "127.0.0.1 "`hostname` | sudo tee -a /etc/hosts
script: mvn test -P $HADOOP_PROFILE

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/474ff698bda62f1804a6
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
