language: java
jdk:
  - openjdk6

env:
  - HADOOP_PROFILE=default
  - HADOOP_PROFILE=hadoop-1
  - HADOOP_PROFILE=hadoop-2

install: mvn -q --batch-mode install -DskipTests=true
before_script: umask 0022
script: mvn test -P $HADOOP_PROFILE
